:root {
    --green: orange;
    --black: #444;
    --light-color: #777;
    --box-shadow: 0.5rem 0.5rem 0 orange(22, 160, 133, 0.2);
    --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
    --border: 0.2rem solid var(--green);
}

.app-page {
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s ease-out;
    text-decoration: none;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
    margin: -3rem;
    .right {
        text-align: right;
    }
    .heading {
        text-align: center;
        padding-bottom: 2rem;
        text-shadow: var(--text-shadow);
        text-transform: uppercase;
        color: var(--black);
        font-size: em(40px);
        @include for-narrow-layout {
            font-size: em(80px);
        }
        & span {
            text-transform: uppercase;
            color: var(--green);
        }
    }
    section {
        padding: 2rem;
        @include for-narrow-layout {
            padding: 2rem 9%;
        }
        &:nth-child(even) {
            background: #f5f5f5;
        }
    }
    .btn {
        display: inline-block;
        margin-top: 1rem;
        padding: 0.5rem;
        padding-left: 1rem;
        border: var(--border);
        border-radius: 0.5rem;
        box-shadow: var(--box-shadow);
        color: var(--green);
        cursor: pointer;
        background: #fff;
        font-size: em(16px);
        @include for-narrow-layout {
            font-size: em(24px);
        }
        & span {
            padding: 0.7rem 1rem;
            border-radius: 0.5rem;
            background: var(--green);
            color: #fff;
            margin-left: 0.5rem;
        }
        &:hover {
            background: var(--green);
            color: #fff;
            span {
                color: var(--green);
                background: #fff;
                margin-left: 1rem;
            }
        }
    }

    .home {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        @include for-narrow-layout {
            flex-wrap: nowrap;
        }
        .image {
            flex: 1 1 45rem;
            & img {
                width: 100%;
            }
        }
    }
    .content {
        flex: 1 1 45rem;
        & h3 {
            color: var(--black);
            line-height: 1.8;
            text-shadow: var(--text-shadow);
            font-size: em(36px);
            @include for-narrow-layout {
                font-size: em(72px);
            }
        }
        & p {
            color: var(--light-color);
            line-height: 1.8;
            padding: 1rem 0;
            font-size: em(16px);
            @include for-narrow-layout {
                font-size: em(24px);
            }
        }
    }
    .icons-container {
        display: grid;
        gap: 2rem;
        grid-template-columns: unset;
        padding-top: 5rem;
        padding-bottom: 5rem;
        // border: var(--border);
        box-shadow: var(--box-shadow);
        border-radius: 0.5rem;
        text-align: center;
        padding: 2.5rem;
        @include for-narrow-layout {
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        }
        & .icons {
            border: var(--border);
            box-shadow: var(--box-shadow);
            border-radius: 0.5rem;
            text-align: center;
            padding: 2.5rem;
            & i {
                color: var(--green);
                padding-bottom: 0.7rem;
                font-size: em(36px);
                @include for-narrow-layout {
                    font-size: em(72px);
                }
            }
            & h3 {
                color: var(--black);
                padding: 0.5rem 0;
                text-shadow: var(--text-shadow);
                font-size: em(36px);
                @include for-narrow-layout {
                    font-size: em(72px);
                }
            }
            & p {
                color: var(--light-color);
                font-size: em(14px);
                @include for-narrow-layout {
                    font-size: em(28px);
                }
            }
        }
    }

    .services {
        .box-container {
            display: grid;
            grid-template-columns: unset;
            gap: 2rem;
            @include for-narrow-layout {
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            }
            .box {
                background: #fff;
                border-radius: 0.5rem;
                box-shadow: var(--box-shadow);
                border: var(--border);
                padding: 2.5rem;
                & i {
                    color: var(--green);
                    padding-bottom: 0.5rem;
                    font-size: em(40px);
                    @include for-narrow-layout {
                        font-size: em(80px);
                    }
                }
                & h3 {
                    color: var(--black);
                    padding: 1rem 0;
                    font-size: em(20px);
                    @include for-narrow-layout {
                        font-size: em(40px);
                    }
                }
                & p {
                    color: var(--light-color);
                    line-height: 2;
                    font-size: em(14px);
                    @include for-narrow-layout {
                        font-size: em(28px);
                    }
                }
            }
        }
    }
    .about {
        .row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 2rem;
            @include for-narrow-layout {
                flex-wrap: nowrap;
            }
            .image {
                flex: 1 1 45rem;
                img {
                    width: 100%;
                }
            }
            .content {
                flex: 1 1 45rem;
                & h3 {
                    color: var(--black);
                    text-shadow: var(--text-shadow);
                    font-size: em(36px);
                    @include for-narrow-layout {
                        font-size: em(72px);
                    }
                    line-height: 1.8;
                }
                & p {
                    color: var(--light-color);
                    padding: 1rem 0;
                    font-size: em(14px);
                    line-height: 1.8;
                    @include for-narrow-layout {
                        font-size: em(28px);
                    }
                }
            }
        }
    }
    .blogs {
        .box-container {
            display: grid;
            grid-template-columns: unset;
            gap: 2rem;
            @include for-narrow-layout {
                grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
            }
            .box {
                border: var(--border);
                box-shadow: var(--box-shadow);
                border-radius: 0.5rem;
                padding: 2rem;
                .image {
                    height: 20rem;
                    overflow: hidden;
                    border-radius: 0.5rem;
                    & img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .content {
                    padding-top: 1rem;
                    .icon {
                        padding: 1rem 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        & a {
                            font-size: em(14px);
                            color: var(--light-color);
                            @include for-narrow-layout {
                                font-size: em(28px);
                            }

                            &:hover {
                                color: var(--green);
                            }
                        }
                        & i {
                            padding-right: 0.5rem;
                            color: var(--green);
                        }
                    }
                    & h3 {
                        color: var(--black);
                        font-size: em(24px);
                        @include for-narrow-layout {
                            font-size: em(48px);
                        }
                    }
                    & p {
                        color: var(--light-color);
                        font-size: em(12px);
                        line-height: 1.8;
                        padding: 1rem 0;
                        @include for-narrow-layout {
                            font-size: em(24px);
                        }
                    }
                }
                &:hover {
                    .image {
                        img {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}
