.contacts-container {
    .contacts-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
        display: grid;
        justify-content: center;
        grid-gap: 20px;
        gap: 20px;
        width: 100%;
        .contact {
            border-radius: 25px;
            position: relative;
            padding: 25px 15px;
            background-color: $clr2;
            height: 220px;
            min-width: 300px;
            box-shadow: 0 2px 5px #ccc;
            text-align: right;
            .top {
                border-radius: 25px 25px 0 0;
                height: 100px;
                width: 100%;
                background-color: $clr1;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: space-between;
                .actions {
                    > button {
                        background: transparent;
                        font-size: 24px;
                        cursor: pointer;
                        border: none;
                        padding: 5px;
                        margin: 0;
                        > svg {
                            opacity: 0.8;
                            transition: opacity 0.2s ease-in-out;
                            &:hover {
                                opacity: 1;
                                color: $clr2;
                            }
                        }
                    }
                }
                .name {
                    font-size: 2em;
                    color: $clr2;
                    padding-inline-end: 15px;
                    align-self: flex-end;
                }
                > img {
                    margin: 30px 20px 0 0;
                    border-radius: 50%;
                    border: 7px solid $clr2;
                    width: 120px;
                    height: 120px;
                    object-fit: cover;
                }
            }
            .bottom {
                margin-top: 120px;
                gap: 5px;
                .info {
                    color: $clr3;
                }
            }
        }
    }
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 5px;
    background-color: $clr1;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    .my-float {
        font-size: 24px;
    }
}
