.login-signup {
  color: #172b4d;
  justify-content: center;
  margin: -3rem;
  .auth-input {
    border: 1px solid $clr7;
    border-radius: 4px;
    position: relative;
    font-size: em(16px);
    width: 100%;
    padding: 10px 12px;
    transition: all 0.15s ease-in-out;
    p {
      text-align: right;
    }
    &:hover,
    &:focus {
      border-color: #000;
    }
  }

  .login-container {
    background-color: #fff;
    border-radius: 3px;
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
    gap: 20px;
    height: 91vh;
    justify-content: inherit;
    @include for-normal-layout {
      height: unset;
    }
    .login-logo {
      > img {
        width: 70%;
      }
    }
    button {
      cursor: pointer;
      &:last-child {
        font-weight: bold;
        color: rgba(0, 0, 0, 0.6);
        font-size: em(13px);
        line-height: 1.4375em;
        letter-spacing: 0.00938em;
        background: green;
      }
    }
    form {
      gap: 15px;
      > div {
        max-width: 300px;
        min-width: 300px;
      }
      button.login-submit {
        background: linear-gradient(180deg, #61bd4f 0, #5aac44);
        box-shadow: 0 2px 0 #3f6f21;
        color: #fff;
        font-weight: 700;
        box-shadow: none;
        margin-bottom: 17px;
        font-size: em(14px);
        line-height: 20px;
        border-radius: 3px;
        padding: 6px 12px;
        transition: background-color 0.2s;
        &:hover {
          background: linear-gradient(180deg, #5aaf49 0, #55a140);
        }
      }
    }
  }
}

#icon {
  width: 70%;
}
