.videos-layout {
    padding: 3rem;
    .header {
        display: flex;
        margin-top: -15px;
        align-items: center;
        justify-content: center;
        .name {
            margin-left: 1.25rem;
            > h1 {
                text-align: center;
                margin: 0;
                font: bold 30px "Open Sans", sans-serif;
                color: $clr1;
                text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
                    0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
                    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
                    0 20px 20px rgba(0, 0, 0, 0.15);
                @include for-narrow-layout {
                    font: bold 60px "Open Sans", sans-serif;
                }
            }
        }
    }
    .border {
        border-radius: 5px;
        height: 2px;
        background-color: $clr4;
        border: none;
        margin: 1.25rem 0;
    }
    .videos-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
        display: grid;
        justify-content: center;
        grid-gap: 20px;
        grid-gap: 20px;
        gap: 20px;
        width: 100%;
        .video-preview {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            padding: 30px;
            height: 250px;
            width: 250px;
            border-radius: 20px;
            align-self: stretch;
            overflow: hidden;
            position: relative;
            direction: rtl;
            background-color: rgba(0, 0, 0, 0.7);
            background-repeat: no-repeat;
            // background-size: contain;
            background-position: center;
            background-blend-mode: overlay;
            .video-title {
                color: $clr4;
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 20px;
                font-weight: bold;
                text-decoration: underline;
                & + p {
                    color: $clr4;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 75ch;
                }
            }
            .actions {
                color: $clr4;
                position: absolute;
                top: 5px;
                left: 5px;
                > button {
                    > svg {
                        color: $clr4;
                    }
                }
            }
            .video-time {
                background: rgba(255, 255, 255, 0.44);
                color: $clr4;
                padding: 3px 8px;
                font-size: 12px;
                border-radius: 6px;
                position: absolute;
                right: 20px;
                bottom: 20px;
            }
        }
    }
}
.video-details {
    direction: rtl;
    > p {
        color: black;
        font-size: 24px;
        line-height: 30px;
        font-weight: bold;
        text-decoration: underline;
        text-align: center;

        & + p {
            font-size: 1rem;
            font-weight: unset;
            color: black;
            text-decoration: unset;
            text-align: right;
        }
    }
}
