.visits-container {
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    @include for-narrow-layout {
        flex-wrap: nowrap;
    }
    h2 {
        margin-block-end: 25px;
        text-align: center;
        font: bold 20px "Open Sans", sans-serif;
        color: $clr5;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
            0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
            0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
            0 20px 20px rgba(0, 0, 0, 0.15);
        @include for-narrow-layout {
            font: bold 28px "Open Sans", sans-serif;
        }
    }
    .visits-column {
        padding: 5px;
        width: 100%;
        min-height: 350px;
        border-radius: 5px;
        .visit-preview {
            position: relative;
            color: white;
            min-height: 150px;
            margin: 0 0 8px 0;
            padding: 6px;
            user-select: none;
            display: flex;
            flex-direction: column;
            align-content: center;
            box-shadow: 0 1px 0 #c0c6d0;
            border-radius: 5px;
            font-size: 0.875rem;
            transition: background-color 0.1s;
            cursor: grabbing;
            .date {
                position: absolute;
                top: 10px;
                right: 5px;
                color: white;
                font: bold 16px "Open Sans", sans-serif;
            }
            p {
                color: White;
                font-weight: 600;
            }
            .lecture {
                margin-block-start: 14px;
            }
            .actions {
                position: absolute;
                top: 5px;
                left: 5px;
                gap:10px;
                > button {
                    font-size: 20px;
                    > svg {
                        color: $clr2;
                        opacity: 0.8;
                        transition: opacity 0.2s ease-in-out;
                        &:hover {
                            opacity: 1;
                            color: $clr2;
                        }
                    }
                }
                & + h3 {
                    margin: 0;
                    margin-block-start: 34px;
                    margin-block-end: 14px;
                    text-align: center;
                    font: bold 20px "Open Sans", sans-serif;
                    color: $clr2;
                    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
                        0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
                        0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
                        0 20px 20px rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
}
