.success-stories-layout {
    padding: 3rem;
    .header {
        display: flex;
        margin-top: -15px;
        align-items: center;
        justify-content: center;
        .name {
            margin-left: 1.25rem;
            > h1 {
                text-align: center;
                margin: 0;
                font: bold 30px "Open Sans", sans-serif;
                color: $clr1;
                text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
                    0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
                    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
                    0 20px 20px rgba(0, 0, 0, 0.15);
                @include for-narrow-layout {
                    font: bold 60px "Open Sans", sans-serif;
                }
            }
        }
    }
    .border {
        border-radius: 5px;
        height: 2px;
        background-color: $clr4;
        border: none;
        margin: 1.25rem 0;
    }

    .card__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        .heading {
            font-weight: bold;
            font-size: 1.1rem;
        }
    }

    .success-stories-container {
        width: 100%;
        margin: 2rem 0;
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: center;
        .success-stories-list {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            overflow-y: auto;
            flex-direction: row-reverse;
            .success-story {
                width: 100%;
                margin: 10px;
                color: $clr5;
                box-shadow: 0 8px 24px rgba(149, 157, 165, 20%);
                padding: 0.625em;
                margin-bottom: 1rem;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                overflow: hidden;
                word-wrap: break-word;
                display: flex;
                align-items: center;
                margin-block-start: 10px;
                .success-story-header {
                    display: flex;
                    align-items: center;
                    width: 100%;

                    .actions {
                        > button {
                            background: transparent;
                            font-size: 24px;
                            cursor: pointer;
                            border: none;
                            > svg {
                                opacity: 0.6;
                                transition: opacity 0.2s ease-in-out;
                                &:hover {
                                    opacity: 1;
                                    color: $clr1;
                                }
                            }
                        }
                    }
                }

                > :nth-child(2) {
                    font-weight: bold;
                }
            }
            .success-story-comment {
                width: 100%;
                text-align: center;
                word-wrap: break-word;
                .title {
                    font-size: 1.75rem;
                    font-weight: bold;
                    margin-block-end: 20px;
                    text-decoration: underline;
                }
                .content {
                    text-align: right;
                }
            }
            .date {
                width: 100%;
                text-align: right;
            }
        }
    }
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 5px;
    background-color: $clr1;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    .my-float {
        font-size: 24px;
    }
}
