.footer-layout.full.mobile-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  border-top: 1px solid #727989;
  border-bottom: 1px solid #727989;
  justify-content: space-between;
  button {
    &:not(:nth-child(2)) {
      margin-inline-end: 10px;
      margin-inline-start: 10px;
    }
    padding: 0 10px;
  }

  // @include for-normal-layout {
  //   display: none;
  // }
}

.main-footer {
  //  width: 1340px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  gap: 20px;

  .common-footer {
    width: 100%;
  }

  .chat-card {
    display: flex;
    justify-content: space-evenly;
    border-radius: 25px;
    min-width: 100%;
    height: 150px;
    // align-self: center;
    width: 40%;

    background: #f2f9ff;
    align-items: center;

    > div:first-child {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .content {
      p.p1 {
        font-weight: 500;
        color: #727989;
        opacity: unset;
      }
      p.p4 {
        color: #727989;
      }
      display: flex;
      flex-direction: column;
      margin: 0 20px;
    }
  }

  // @include for-normal-layout {
  //   flex-direction: row;
  //   justify-content: space-between;

  //   .chat-card {
  //     min-width: 40%;
  //   }

  //   .common-footer {
  //     width: 60%;
  //   }
  // }
}

.footer-end {
  p {
    opacity: 0.65;
  }
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #727989;
  border: none;

  .footer-nav {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      display: flex;
      align-items: center;
    }
  }
}

.mobile-footer {
  p {
    font-family: "Almoni";
  }
  box-shadow: 0px 5px 40px -6px #727989;
  .btn-icon-footer {
    background-color: #fff;
    border: none;
    .cart-icon {
      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      position: relative;
      display: inline-block;
    }
    .badge {
      position: absolute;
      font-size: 7px;
      top: 11px;
      right: 0px;
      width: 14px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: #727989;
      color: $clr2;
    }
  }
}

.btn-icon-footer {
  position: relative;
  overflow: hidden;

  .coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fcb948;
    color: $clr2;
    left: -22px;
    top: 10%;
    text-align: center;
    transform: rotate(-47deg);
    width: 80px;
    height: 25px;
    position: absolute;
  }
}
