.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns:
            minmax(20px, 1fr)
            minmax(auto, $mobile-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns:
            minmax(20px, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns:
            minmax(20px, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(20px, 1fr);
    }
}

main {
    padding: 3rem;
    .header {
        display: flex;
        margin-top: -15px;
        align-items: center;
        justify-content: center;
        .name {
            margin-left: 1.25rem;
            > h1 {
                text-align: center;
                margin: 0;
                font: bold 30px "Open Sans", sans-serif;
                color: $clr1;
                text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
                    0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
                    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
                    0 20px 20px rgba(0, 0, 0, 0.15);
                @include for-narrow-layout {
                    font: bold 60px "Open Sans", sans-serif;
                }
            }
        }
    }
    .border {
        border-radius: 5px;
        height: 2px;
        background-color: $clr4;
        border: none;
        margin: 1.25rem 0;
    }
}
